*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 35px;
}

.containerNotas{
    height: 130px;
}

.containerMain{
    display: flex;
    align-items: center;
    gap: 10px;
}

#inputNotas{
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

.btn{
    background-color: rgb(0, 120, 195);
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    height: 50px;
    width: auto;
}

.btn:hover{
    background-color: rgb(0, 55, 88);
    color: rgb(189, 189, 189);
    transition: 0.5s;
}
